asgiref==3.7.2
branca==0.6.0
certifi==2023.7.22
charset-normalizer==3.2.0
click==8.1.7
decorator==5.1.1
Django==4.2.5
folium==0.13.0
future==0.18.3
geocoder==1.38.1
gunicorn==20.0.4
idna==3.4
Jinja2==3.1.2
MarkupSafe==2.1.3
numpy==1.26.0
phonenumbers==8.13.0
Pillow==9.3.0
psutil==5.9.5
PySocks==1.7.1
python-whois==0.8.0
pytz==2023.3.post1
ratelim==0.1.6
requests==2.31.0
six==1.16.0
sqlparse==0.4.4
typing_extensions==4.8.0
urllib3==2.0.5

# Django==3.2.2
# geocoder==1.38.1
# gunicorn==20.0.4
# phonenumbers==8.13.0
# Pillow==9.3.0
# PySocks==1.7.1
# python-whois==0.8.0
# folium==0.13.0
