<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_e939ee613f4e796a6dfd77a41271345d {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_e939ee613f4e796a6dfd77a41271345d" ></div>
        
</body>
<script>    
    
            var map_e939ee613f4e796a6dfd77a41271345d = L.map(
                "map_e939ee613f4e796a6dfd77a41271345d",
                {
                    center: [8.8937, 11.3596],
                    crs: L.CRS.EPSG3857,
                    zoom: 13,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_68014e7449d9c2e2aa6b947ad3a76faf = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 70, "maxZoom": 70, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_e939ee613f4e796a6dfd77a41271345d);
        
    
            var circle_marker_aebce083745b2f9b23881003cbde92d6 = L.circleMarker(
                [8.8937, 11.3596],
                {"bubblingMouseEvents": true, "color": "#3186cc", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3186cc", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 50, "stroke": true, "weight": 3}
            ).addTo(map_e939ee613f4e796a6dfd77a41271345d);
        
    
            var circle_f3709b31bf89675a72df4e5cc0c47963 = L.circle(
                [8.8937, 11.3596],
                {"bubblingMouseEvents": true, "color": "crimson", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "crimson", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 100, "stroke": true, "weight": 3}
            ).addTo(map_e939ee613f4e796a6dfd77a41271345d);
        
    
        var popup_66a3e50dca5453d7eceb8a010de5833e = L.popup({"maxWidth": "100%"});

        
            
                var html_f316c0344718f37c7e6b5aab44e4fc16 = $(`<div id="html_f316c0344718f37c7e6b5aab44e4fc16" style="width: 100.0%; height: 100.0%;">The Waterfront</div>`)[0];
                popup_66a3e50dca5453d7eceb8a010de5833e.setContent(html_f316c0344718f37c7e6b5aab44e4fc16);
            
        

        circle_f3709b31bf89675a72df4e5cc0c47963.bindPopup(popup_66a3e50dca5453d7eceb8a010de5833e)
        ;

        
    
    
            var marker_b8fef3ab2fd9bbfec5877302adc87fb8 = L.marker(
                [8.8937, 11.3596],
                {}
            ).addTo(map_e939ee613f4e796a6dfd77a41271345d);
        
    
            var icon_b50fc175da874e5050411c91481fc91f = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_b8fef3ab2fd9bbfec5877302adc87fb8.setIcon(icon_b50fc175da874e5050411c91481fc91f);
        
</script>