<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_037f0780d33c565c46719815f6dd2368 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_037f0780d33c565c46719815f6dd2368" ></div>
        
</body>
<script>
    
    
            var map_037f0780d33c565c46719815f6dd2368 = L.map(
                "map_037f0780d33c565c46719815f6dd2368",
                {
                    center: [9.0579, 7.4951],
                    crs: L.CRS.EPSG3857,
                    zoom: 13,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_f1c4da0995d4ca01513e4b8e0bc45b18 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 70, "maxZoom": 70, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_037f0780d33c565c46719815f6dd2368);
        
    
            var circle_marker_785b3d37f5a730358b892094e8f6a687 = L.circleMarker(
                [9.0579, 7.4951],
                {"bubblingMouseEvents": true, "color": "#3186cc", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3186cc", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 50, "stroke": true, "weight": 3}
            ).addTo(map_037f0780d33c565c46719815f6dd2368);
        
    
            var circle_7404586cbc195443e45b1ab28b67e31b = L.circle(
                [9.0579, 7.4951],
                {"bubblingMouseEvents": true, "color": "crimson", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "crimson", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 100, "stroke": true, "weight": 3}
            ).addTo(map_037f0780d33c565c46719815f6dd2368);
        
    
        var popup_64b5b3a4f14622a065f64af71981b092 = L.popup({"maxWidth": "100%"});

        
            
                var html_1bbcfeb4c03cf3c6523e22f6d3628004 = $(`<div id="html_1bbcfeb4c03cf3c6523e22f6d3628004" style="width: 100.0%; height: 100.0%;">The Waterfront</div>`)[0];
                popup_64b5b3a4f14622a065f64af71981b092.setContent(html_1bbcfeb4c03cf3c6523e22f6d3628004);
            
        

        circle_7404586cbc195443e45b1ab28b67e31b.bindPopup(popup_64b5b3a4f14622a065f64af71981b092)
        ;

        
    
    
            var marker_05aaf351948883f15b2884eb68460220 = L.marker(
                [9.0579, 7.4951],
                {}
            ).addTo(map_037f0780d33c565c46719815f6dd2368);
        
    
            var icon_b6c9edd7cb69b0ab74c2c2d7ff6d547c = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_05aaf351948883f15b2884eb68460220.setIcon(icon_b6c9edd7cb69b0ab74c2c2d7ff6d547c);
        
</script>
</html>