{% extends 'base.html' %}


{% block title %}
	<title>DiPense | change password</title>
{% endblock title %}


{% block form %}
	<h1>Change your password dude!</h1>
	<p>Beware of a hacker like you around you!</p>
	<form method="POST" class="form">
		{% csrf_token %}
		<input type="password" name="old_password" placeholder="Enter old password" required>

		{% if form.old_password.errors %}
			<!-- <p>{{form.old_password.errors}}</p> -->
			<p><i><strong><small>--- Your old password was entered incorrectly. Please enter it again.</small></strong></i></p>
		{% endif %}
		<input type="password" name="new_password1" placeholder="Enter new password" required>
		<input type="password" name="new_password2" placeholder="Enter new password again" required>

		{% if form.new_password2.errors %}
			<!-- <p>{{form.new_password2.errors}}</p> -->
			<p><i><strong><small>--- The two password fields didn’t match.</small></strong></i></p>
		{% endif %}
		<button type="submit">submit</button>
	</form>
{% endblock form %}


{% block result %}
	<span>
		<p>Use strong password for your lab!</p>
		<br>
		<h3>Passwords level:</h3>
		<li>Weak: my-dipense-lab</li>
		<li>Poor: my-dipense-lab-123</li>
		<li>Strong: my-dipense-lab-+@$*5b96ffe3d3b34fba1afa03ab35847b</li>
	</span>
{% endblock result %}
