{% extends 'base.html' %}


{% block title %}
  <title>DiPense | login</title>
{% endblock title %}


{% block form %}
  <h1>Login to your lab!</h1>
  <p>Beware of a hacker like you around you!</p>
  <form method="POST" class="form">
    {% csrf_token %}
    <input type="email" name="username" placeholder="Enter email address" required>
    <input type="password" name="password" placeholder="Enter password" required>

    {% if form.errors %}
      <!-- <p>{{form.new_password2.errors}}</p> -->
      <p><i><strong><small>--- Please enter a correct email address and password. Note that both fields may be case-sensitive.</small></strong></i></p>
    {% endif %}
    <button type="submit">submit</button>
  </form>
{% endblock form %}


{% block result %}
  <span>
    <p>Use strong password for your lab!</p>
    <br>
    <h3>Passwords level:</h3>
    <li>Weak: my-dipense-lab</li>
    <li>Poor: my-dipense-lab-123</li>
    <li>Strong: my-dipense-lab-+@$*5b96ffe3d3b34fba1afa03ab35847b</li>
  </span>
{% endblock result %}