{% extends 'base.html' %}
{% load static %}

{% block title %}
  <title>DiPense | profile</title>
{% endblock title %}


{% block form %}
  <span class="anony">
    <div class="anonymous">
      <div>
        <img src="{{request.user.image.url}}" alt="" srcset="">
      </div>
    </div>
  </span>
  <a href="{% url 'account:mask' %}" class="peace">Edit image</a>

  <h1>Anonymous User</h1>
  <p>I'm a hacker and cybersecurity expert</p>
{% endblock form %}


{% block result %}
  <span>
    <p>I am a hacker, my first goal when I want to hack is to gather information enough as I can about my target</p>
    <br>

    <h3>Status: loading</h3>
    <br>
    <a href="#" class="danger">End yourself</a>
    <li><b>Uptime:</b> 2 days up</li>
  </span>
{% endblock result %}