{% extends 'base.html' %}

{% block title %}
  about
{% endblock title %}


{% block main_top %}
  <h2>About DiPense</h2>
  <div class="result_2">
    <p>DiPense is an OSINT framework that was design for hackers, to be able to detect and track a cellular number and a foot print belongs to the number also an ip address. Although using this tool may lead to data breach or illegal at all at some certain circumstance, depending on the use cases</p>
  </div>

  <div class="result">
    <h3>Local scan</h3>
    <p>Local scan is a portion (out come) of your payload, which will give a local format of the number that payloaded into the system, without showing the plus sign (+) i.e negating it unlike in internationall format.</p>
    <hr>
    <br>
    <h3>Mass scan</h3>
    <p>Mass scan, this is a portion of the end result, that will give a reference and some links that are/may be associated with the cellular number was payloaded into DiPense system.</p>
    <hr>
    <br>
    <p>Our system do not take any of your information or data in any way or the other, to find or find some information and retrieve in any way illegally without the cellular number owner</p>
  </div>
{% endblock main_top %}
